html
    head
        meta charset="utf-8"
        link rel="stylesheet" href="css/style.min.css"
    body
        .cat
            h2 Ты сегодня покормил кота?
            .wrap_cats
                .bcat#0
                    .bcat__wrap
                        .bcat__body data-id="0"
                            img src="images/cat.png" class="cat" alt="cat"/
                            .bcat__body-corner
                            p.text Сказочное заморское яство
                            p.cancel Котэ не одобряет?
                            h1 Нямушка
                            span.bcat__body__with c фуа-гра
                            p 10 порций <br> мышь в подарок
                            .bcat__body__weight
                                p.weight 0,5 <span>кг
                    .bcat__footer
                        span Чего сидишь? Порадуй котэ, 
                        a.buy onclick="buy(0); return false;" href="#" купи.
                .anti-revers
                    .bcat#1
                        .bcat__wrap
                            .bcat__body data-id="1"
                                img src="images/cat.png" class="cat" alt="cat"/
                                .bcat__body-corner
                                p.text Сказочное заморское яство
                                p.cancel Котэ не одобряет?
                                h1 Нямушка
                                span.bcat__body__with c рыбой
                                p 40 порция <br> 2 мыши в подарок
                                .bcat__body__weight
                                    p.weight 2 <span> кг
                        .bcat__footer
                            span Чего сидишь? Порадуй котэ, 
                            a.buy onclick="buy(1); return false;" href="#" купи.
                    .bcat#2
                        .bcat__wrap
                            .bcat__body data-id="2"
                                img src="images/cat.png" class="cat" alt="cat"/
                                .bcat__body-corner
                                p.text Сказочное заморское яство
                                p.cancel Котэ не одобряет?
                                h1 Нямушка
                                span.bcat__body__with c курой
                                p 100 порций <br> 5 мышей в подарок<br> заказчик доволен
                                .bcat__body__weight
                                    p.weight 5 <span>кг
                        .bcat__footer
                            span Чего сидишь? Порадуй котэ, 
                            a.buy onclick="buy(2); return false;" href="#" купи.

script src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"
script src="js/scripts.min.js"
