$blue: #1597d8
$cat_block: #f2f2f2
$empty: #b3b3b3
$empty-footer: #ffff66
$selected: #d91567
$weight_hover: #2da7e5
$selected-hover: #e52d7a;


@font-face 
    font-family: Exo
    src: url("../fonts/9412.ttf")
    //src: url("https://vidgarvii.github.io/FunCat/fonts/9412.ttf")
@font-face 
    font-family: Exo2
    src: url("../fonts/Exo2.0-Thin.otf")
    //src: url("https://vidgarvii.github.io/FunCat/fonts/Exo2.0-Thin.otf")

@media (max-device-width: 650px)
    .wrap_cats 
        flex-direction: column !important
        flex-wrap: wrap !important       

html
    background-image: url(../images/body.png)
body
     background-image: url(../images/shadow.png)
     display: flex
     height: 100vh
     
     .cat
        margin: auto
        .wrap_cats 
            display: flex
            display: -webkit-flex   
            flex-wrap: wrap  
            justify-content: space-around   
            .anti-revers
                display: flex 
                flex-wrap: wrap
                justify-content: center
            .bcat
                width: 320px    
                border-radius: 12px
                margin: 0 35px
                &:hover
                    .bcat__body__weight
                        background-color: $weight_hover
                    a
                        color: $weight_hover
        
                &.selected
                    .bcat__body__weight
                        background-color: $selected
                    .bcat__body,.bcat__body-corner
                        border-color: $selected
                    &:hover
                        .bcat__body__weight
                            background-color: $selected-hover
                &.empty
                    .bcat__body
                        border: 4px solid $empty
                        color: $empty
                        
                        .bcat__body-corner
                            border: 4px solid $empty
                        img
                            filter: opacity(50%)
                        h1,p,span
                            color: $empty
                        .bcat__body__weight
                            background-color: $empty
                    .bcat__footer
                        color: $empty-footer


                &__wrap
                    overflow: hidden
                    border-radius: 12px
                
                &__body
                    width: 222px
                    height: 470px
                    border-radius: 12px
                    background-color: $cat_block
                    border: 4px solid $blue
                    padding: 2px 45px 0 45px
                    position: relative
                    cursor: pointer

                    p.cancel
                            display: none
                            color: #e62e7a
 
                    img.cat
                        position: absolute
                        bottom: -100px
                        left: -30px                              
                        
                    h1
                        font-size: 48px
                        color: #000000
                        font-family: "Exo"
                        font-weight: bold
                        margin: -10px 0 0 0
                    &__with
                        font-size: 24px
                        color: #000000
                        font-family: "Exo"
                        font-weight: bold
                    p   
                        font-size: 16px
                        color: #666666
                        font-family: "Exo"
                    &__weight
                        p,span
                            color: #fff !important
                        width: 80px
                        height: 80px
                        border-radius: 40px
                        background-color: $blue
                        display: flex
                        position: absolute
                        bottom: 10px
                        right: 10px  
                                      
                        .weight
                            all: initial
                            font-size: 35px
                            margin: auto
                            line-height: 27px
                            color: #ffffff
                            font-family: "Exo"
                            text-align: center
                            width: 49px
                            display: inline-block
                            span
                                font-size: 22px
                    &-corner
                        width: 60px
                        height: 60px
                        border: 4px solid $blue
                        position: absolute
                        background-image: url(../images/body.png) 
                        top: -40px
                        left: -40px
                        transform: rotate(45deg)
                        z-index: 2
                        
                &__footer
                    padding-top: 16px
                    font-size: 13px
                    line-height: 16px
                    color: #ffffff
                    font-family: "Exo"
                    text-align: center
                    margin-bottom: 40px
                    a
                        color: $blue
                        text-decoration: none
                        border-bottom: 1px dashed $blue
           
                        
h2
    font-size: 36px;
    color: #ffffff;
    font-family: "Exo2";
    text-align: center;
    box-shadow: 0.5px 0.866px 1px #000000;